
ion-input{
  background:rgb(235, 235, 235);
  border-radius: 15px;
  width: 96%;
}

ion-content{
  --padding-top:7px;
  --padding-start:7px;
  --padding-end:7px;
  --background:#e4e4e4;
}


.mensaje{
  background:white;
  width: 80%;
  border-radius: 10px;
  padding:9px;
  margin-top:1vh;
}

.mensaje-yo{
  background:#3880ff;
  color:white;
  text-align: right;
  width: 80%;
  margin-left: 20%;
  border:1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding:9px;
  margin-top:1vh;
}